@using QualitySouvenirs.Models



<div class="masonry">

    <div class="item prodcutCardContainer">
        <div class="productCard">
            <div class="prodcutImageContianer">
                <img class="productImage" src="~/images/Souvenirs/cup001.png" alt="Souvenir" />
            </div>
            <table class="productRow">
                <tr class="ProductTextRowOne">
                    <td>
                        <span class="productName">Cup</span>
                        <span class="productPrice">$29.99</span>
                    </td>
                </tr>
                <tr class="ProductTextRowTwo">
                    <td>
                        <span class="productTag">Coffee</span>
                        <span class="productTag">Tea</span>
                        <span class="productTag">Milk</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
