@model QualitySouvenirs.Models.Souvenir

@{
    ViewData["Title"] = "Edit";
    var imgUrl = @Href("~/images/Souvenirs/" + @Model.PathOfImage);
    var errImage = @Href("~/images/kiwibird.jpeg");
}

<h2>Edit</h2>

<h4>Souvenir</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supplier" class="control-label"></label>
                <select asp-for="SupplierName" class="form-control" asp-items="ViewBag.SupplierName"></select>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="CategoryName" class="form-control" asp-items="ViewBag.CategoryName"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Image</label>
                <img style="height:100px;width:auto;" class="control-label" src="@imgUrl" alt="Souvenir Image" onerror="this.onerror = null; this.src='@errImage'" />
                <input type="file" name="_files" id="_files" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
