@{
    ViewData["Title"] = "Thanks for Registering!";
}
<h1>@ViewData["Title"].</h1>
<p>
    To login, please check your inbox(or spam) for a confirmation email.
</p>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
